<%= react_component("DashboardPage", prerender: false) %>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<div class="Background">
  <div class="BackgroundThema">
  </div>
  <div class="Content">
    <div class="SearchBox">
      <i class="fas fa-search"></i>
      <input type="text" class="SearchInput">
    </div>
    <div class="ListComponent">
      <div class="ProjectBox">
        <div class="TitleBox">
          <i class="far fa-file-alt"></i>
          <p class="BoxTitle">Project</p>
          <div class="ProjectOption">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="SortFilterBox">
          <div class="ProjectSort">
            <small>Sort</small>
          </div>
          <div class="ProjectFilter">
            <small>Filter</small>
          </div>
        </div>
        <div class="ProjectList">
          <div class="AddProject">
            <small>+ プロジェクトを追加する</small>
          </div>

          <table class="Projects">
            <%# <% @projects.each do |project| %>
            <!-- %> -->
            <tr>
              <td class="ProjectCategory">
                <%# <%= project.category %>
                <!-- %> -->
                SMPL
              </td>
              <td class="ProjectTitle">
                <%# <%= project.title %>
                <!-- %> -->
                #サンプル
              </td>
              <td class="ProjectDiscipline">
                <%# <%= project.discipline %>
                <!-- %> -->
                SAMPLE
              </td>
              <td class="TaskCountExpiredInProject">
                <%# <%= project.empired_task %>
                <!-- %> -->
                5
              </td>
              <td class="TaskCountNearDeadlineInProject">
                <%# <%= project.near_deadline_task %>
                <!-- %> -->
                5
              </td>
              <td class="TaskCountAffordInProject">
                <%# <%= project.afford_task %>
                <!-- %> -->
                5
              </td>
            </tr>
            <%# <% end %>
            <!-- %> -->
          </table>
        </div>
      </div>

      <div class="MemberBox">
        <div class="TitleBox">
          <i class="fas fa-users"></i>
          <p class="BoxTitle">Member</p>
          <div class="MemberOption">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="SortFilterBox">
          <div class="MemberSort">
            <small>Sort</small>
          </div>
          <div class="MemberFilter">
            <small>Filter</small>
          </div>
        </div>
        <div class="MemberList">
          <table class="Members">
            <%# <% @members.each do |member| %>
            <!-- %> -->
            <tr>
              <td class="MemberImage">
                <%# <%= link_to member_detail_path, target: "_blank" do %>
                <!-- %> -->
                <%# <%= member.image %>
                <i class="fas fa-user"></i>
                <!-- %> -->
                <%# <% end %>
                <!-- %> -->
              </td>
              <td class="TaskCountExpiredOnMember">
                <%# <%= project.empired_task %>
                <!-- %> -->
                5
              </td>
              <td class="TaskCountNearDeadlineOnMember">
                <%# <%= project.near_deadline_task %>
                <!-- %> -->
                5
              </td>
              <td class="TaskCountAffordOnMember">
                <%# <%= project.afford_task %>
                <!-- %> -->
                5
              </td>
            </tr>
            <%# <% end %>
            <!-- %> -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
